.row .one {
  width: 4.7%;
}

.row .two {
  width: 13.2%;
}

.row .three {
  width: 22.05%;
}

.row .four {
  width: 30.6%;
}

.row .five {
  width: 39%;
}

.row .six {
  width: 48%;
}

.row .seven {
  width: 56.75%;
}

.row .eight {
  width: 61.6%;
}

.row .nine {
  width: 74.05%;
}

.row .ten {
  width: 82%;
}

.row .eleven {
  width: 91.35%;
}